<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        {{!-- <h1>Movie {{movie}}</h1> --}}
        <p>{{movie.title}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.year}}</p>
        <p>{{movie.runtime}}</p>
        <img src="../public/movies/{{movie.id}}.jpg" alt="{{movie.id}}"/>

        {{#if dates}}
            {{#each dates}}
                <div a="/show/{{this.showId}}">    
                    {{this.day}}
                    {{this.month}}
                    {{this.year}}
                    {{this.hour}}
                    {{this.minutes}}
                </div>
            {{/each}}
        {{else}}
            Brak seansów
        {{/if}}

    </main>
    {{>footer}}
</body>
</html>