<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        <div class="movie">
            <div class="movie-text">
                <h2>{{movie.title}}</h2>
                <p>{{movie.description}}</p>
                <p><b>Realese year: </b>{{movie.year}}</p>
                <p><b>Duration: </b>{{movie.runtime}}</p>
            </div>
            <div class="movie-poster">
                <img src="{{movie.posterUrl}}" alt="{{movie.id}}.jpg">
            </div>
            <div class="movie-dates">
                <h3>Closest performances</h3>
                {{#if dates}}
                    {{#each dates}}
                        <a href="/book_show/{{this.showId}}">    
                            <div class="date">
                                {{this.day}}/{{this.month}}/{{this.year}}<br/>
                                {{this.hour}}:{{this.minutes}}
                            </div>
                        </a>
                    {{/each}}
                {{else}}
                    Brak seansów
                {{/if}}
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>