<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        <h1>Hello {{helloName}}!</h1>
        <h3>Paid tickets</h3>
        {{#if tickets}}
            {{#each tickets}}
                <div class="item">
                    <div class="row pad-1">
                        <div class="pad-1">
                            <p>{{this.title}} - {{this.time}}</p>
                            <p>room: {{this.roomNumber}}</p>
                            <p>seat: {{this.seatNumber}}</p>
                        </div>
                        <div class="pad-1">
                            <pre class="pixcode">{{this.tokenImage}}</pre>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h4>No tickets.</h4>
        {{/if}}
        <h3>Unpaid Payments</h3>
        {{#if unpaidPayments}}
            {{#each unpaidPayments}}
                <div class="item">
                    <a href="/payment/{{this.token}}">
                        <h3>{{this.title}}</h3>
                        <p class="pad-1">Not paid.</p>
                    </a>
                </div>
            {{/each}}
        {{else}}
            <h4>No unpaid payments.</h4>
        {{/if}}
        <h3>Paid Payments</h3>
        {{#if paidPayments}}
            {{#each paidPayments}}
                <div class="item">
                    <a href="/payment/{{this.token}}">
                        <h3>{{this.title}}</h3>
                        <p class="pad-1">Paid.</p>
                    </a>
                </div>
            {{/each}}
        {{else}}
            <h4>No payments.</h4>
        {{/if}}
    </main>
    {{>footer}}
</body>
</html>