<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        {{#if shows}}
            {{#each shows}}
                <div class="show">
                    <a href="/book_show/{{this.id}}">
                        <div>    
                            <h2>{{this.movie.title}}</h2>
                            <img class="poster" src="{{this.movie.posterUrl}}" alt="{{this.movie.posterUrl}}"/>
                            <h5>{{this.hour}}:{{this.minutes}} {{this.day}}/{{this.month}}/{{this.year}}</h5>
                        </div>
                    </a> 
                </div>
            {{/each}}
        {{else}}
            Brak seansów
        {{/if}}
    </main>
    {{>footer}}
</body>
</html>