<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <main>
        {{#if shows}}
            {{#each shows}}
                <a href="/movie/{{this.movieId}}">
                    <div>    
                        {{this.title}}
                        <img src="../public/movies/{{this.movieId}}" alt="{{this.movieId}}"/>
                    </div>
                </a>
            {{/each}}
        {{else}}
            Brak seansów
        {{/if}}
    </main>
    {{>footer}}
</body>
</html>